<div class="border-left border-primary m-3 p-2 "><br>
<b><%= params[:question] %></b>
<br>
<i>– You</i></div>
<br>

<div class="border-left border-primary m-3 p-2 "><br>
<b><%= @answer %></li></b>
<br>
<i>– Your coach</i></div>
<br>

<%= link_to 'Ask another question', root_path, class: "m-3" %>
