<div class="m-3">
<h1>Stupid Coach</h1>
<br>
<p>Ask anything to your coach:</p>
<form action="/answer" method="get" class="form-inline">
  <div class="d-inline-flex">
    <input class="form-control mr-1" type="text" name="question" value="<%= params[:question] %>">
    <input class="btn btn-primary" type="submit">
  </div>
</form>
</div>
<%#
<div>
  <ol>
    <li>You can ask any question</li>
    <li>The coach might be helpful, but most probably not.</li>
    <li>If you want to get a positive reply, just tell the coach "I am going to work"</li>
  </ol>
</div> %>
